[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Ravi Yadav
	email = ravi.yadav@me.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDC++rytrQGWAc4+C7hK6nRvhk/dSpg4QvHG/txeyDOZ
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
