[user]
	name = YadavRavi
	mail = ravi.yadav@me.com
	email = ravi.yadav@me.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
