layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    pane name="Filesystem" size="30%" cwd="/Users/raviyadav/Documents/ObsidianSyncedVaults/SecondBrain/kb/daystrom/sources"
    pane name="Daystrom" size="70%" focus=true cwd="/Users/raviyadav/Documents/ObsidianSyncedVaults/SecondBrain" {
        command "claude"
    }
}
